*.py[cod]
*.so
*.egg
*.egg-info
temp
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__
logdir

.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
*.sqlite
.env
.env-mysql
.vscode
*.iml
.idea
*.ipr
*.iws
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tar.gz
